body {
    background-color: #F0F8FF;
}

#navbar {
    position: relative;
    text-align: center;
    overflow: hidden;
    background-color: black;
}

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 0.5%;
    text-decoration: none;
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
}

.main-band {
    background-color: white;
    margin-left: auto;
    margin-right: auto;  
    margin-top: 1%;
    border: 2px solid;
    max-width: 64em;
    padding: 10px;
    border-radius: 2px 30px;
}

.name {
    margin-top: 2%;
    font-size:larger;
    display: flex;
    justify-content: center;
    vertical-align: top;
}

.logo {
    margin: 2%;
}

img {
    border-radius: 50%;
}

table {
    width: 100%;
}

td {
    text-align: center;
    vertical-align: top;
}